<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error">
      <h2><%= pluralize(post.errors.count, "error") %>, Post can't be saved </h2>


  <% end %>
  

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>


  <div class="field">
    <%= form.label :type_of_food %>
    <%= form.text_field :type_of_food %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>


  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
