<p id="notice"><%= notice %></p>

<h1>Posts</h1>



  <div class="container">
    <div class="row">
      <% @posts.each_with_index do |post, index| %>
      <% user_name = @user.find(post.user_id) %>
      <div class="col-md-4 mt-2">
          <div class="card">
              <div class="card-block p-3">
                  <h4 class="card-title"><%= post.title %></h4>
                  <h6 class="card-subtitle text-muted">Type of food: <%= post.type_of_food %></h6>
                  <h6 class="card-title text-muted">Amount: <%= post.amount %></h6>
                  <h6 class="card-title text-muted">Name: <%= user_name.name %></h6>
                  <p class="card-text p-y-1"><%= post.description %></p>
                  <%= link_to 'Show', post, class: "card-link" %>


                  <% if current_user.id == post.user_id%>
                  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } , class: "card-link" %>
                  <% end %>


              </div>
          </div>
      </div>
      <% end %>
    </div>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>