<body class="body_for_about_us">

<div class="body_about_us">
<div class="image_header">
      <%= image_tag "headerAboutUs.png", :class => "image_about_us"%>
      
     
    </div>
<%= image_tag "star2.png", :class => "image_star"%>
<h6 class="text_whatWeDo"> WHAT WE DO </h6>
 <hr class="hr_aboutUs">
 <h3 class="text_theBasic"> The basic goals of application </h3>
 <h6 class="pargaph_basicIdea">
 When you want to help someone but you do not know how to get
to that person or there is someone who needs you but needs you 
indirectly and can not reach you. In this site, communication 
between you is much easier than before
    </h6>

<%= image_tag "star2.png", :class => "image_star"%>
  <h3 class="text_OurTeam"> Our values</h3>
    <hr class="hr_aboutUs">

   

<div>
<%= image_tag "vision1.png", :class => "image_vision1 " %>
<%= image_tag "maass.png", :class => "image_vision1" %>
<%= image_tag "target.png", :class => "image_vision1" %>

</div>
<div class="row row-no-gutters pagraph_text">
<h3 class="text3  ">
When you want to help someone but you do not know how to get
to that person or there is someone who needs you but needs you 
indirectly and can not reach you. In this site, communication 
between you is much easier than before
</h3>
<h3 class="text3 ">
When you want to help someone but you do not know how to get
to that person or there is someone who needs you but needs you 
indirectly and can not reach you. In this site, communication 
between you is much easier than before
</h3>
<h3 class="text3  ">
When you want to help someone but you do not know how to get
to that person or there is someone who needs you but needs you 
indirectly and can not reach you. In this site, communication 
between you is much easier than before
</h3>
</div> 
  <%= image_tag "star2.png", :class => "image_star"%>
  <h3 class="text_OurTeam"> Our team members</h3>
    <hr class="hr_aboutUs">
    
<div>
<%= image_tag "fajer.png", :class => "image_teame " %>
  <%= image_tag "star2.png", :class => "image_star_teame"%>
<%= image_tag "moha.PNG", :class => "image_teame " %>
  <%= image_tag "star2.png", :class => "image_star_teame"%>
<%= image_tag "anfal.PNG", :class => "image_teame " %>
  <%= image_tag "star2.png", :class => "image_star_teame"%>
<%= image_tag "ayman.jpg", :class => "image_teame " %>

</div>
 

</div>

   
</body>